.stApp {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20231101/pngtree-electric-glow-vibrant-neon-cyberpunk-geometric-design-in-pink-and-black-image_13797591.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
